* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-image: url(./IMG/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

/* CABEÇA */
.cabeçalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.cabeçalho h1 {
    color: white;
    font-size: calc(5vw + 2vh);
    font-family: "Poppins", serif;
    font-weight: 150;
    margin-bottom: 2rem;
}

.cabeçalho img {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
}

.icone01, .icone02 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem;
}

.icone01 i, .icone02 i {
    font-size: 10vw;
    color: white;
}

/* PARTE RESPONSIVA DO CABEÇALHO */
@media (max-width: 768px) {
    .cabeçalho h1 {
        font-size: calc(4vw + 2vh);
        top: 10%;
        left: 5%;
    }

    .icone01, .icone02 {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    .icone01 i, .icone02 i {
        font-size: 15vw;
    }
}

@media (max-width: 480px) {
    .cabeçalho h1 {
        font-size: calc(3vw + 2vh);
    }

    .icone01 i, .icone02 i {
        font-size: 12vw;
    }
}
/* ======================================= */